html {
  font-family: Menlo, monaco, monospace;
  background-color: #c9d5cf;
}

.wrapper {
  width: 40rem; /* 40 * 16px = 640px */
  margin: 0 auto;
  text-align: center;
}

canvas {
  background-color: #f8f9f8;
  width: 100%; /* 640px */
  height: 30rem; /* 480px */
}

section {
  margin: 1.2rem;
}

p {
  line-height: 1.2rem;
  margin: 0;
}

.larger {
  font-size: 1.4rem;
}