html {
  font-family: Menlo, monaco, monospace;
  background-color: #c9d5cf;
}

.wrapper {
  width: 30rem; /* 480px */
  margin: 0 auto;
  text-align: center;ta
}

canvas {
  background-color: #f8f9f8;
  width: 100%; /* 448px */
  height: 21rem; /* 480px */
}

section {
  font-size: 0.9rem;
  margin: 1.2rem;
}

p {
  line-height: 1.1rem;
  margin: 0;
}

.larger {
  font-size: 1.2rem;
}